name: Release
on:
  # Manually trigger the workflow
  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: "Em qual ambiente você está usando?"
        required: true
        default: "staging"
        options:
          - staging
          - production
      latest:
        type: boolean
        description: "Criar a versão mais recente? (padrão: falso)"
        default: false
        required: false

# Declare default permissions as readonly.
permissions: write-all

env:
  flutter-channel: 'stable'
  flutter-version: '3.38.6'

jobs:
  create-release:
    name: Create release
    runs-on: ubuntu-22.04
    outputs:
      sha: ${{ steps.sha_step.outputs.sha }}
      version: ${{ steps.version_step.outputs.version }}
      version_short: ${{ steps.version_step.outputs.version_short }}
      build_number: ${{ steps.version_step.outputs.build_number }}
      release: ${{ steps.version_step.outputs.release }}
      tag_name: ${{ steps.version_step.outputs.tag_name }}
    steps:
      - uses: actions/checkout@v6

      - name: Set sha
        id: sha_step
        run: |
          SHA=$(git rev-parse HEAD)
          echo "SHA: $SHA."
          
          SHA_SHORT=$(git rev-parse --short=8 HEAD)
          echo "SHA_SHORT: $SHA_SHORT."
          
          echo "sha=$SHA" >> $GITHUB_OUTPUT
          echo "sha_short=$SHA_SHORT" >> $GITHUB_OUTPUT

      - name: Set version
        id: version_step
        run: | 
          VERSION=$(yq '.version' pubspec.yaml)
          echo "VERSION: $VERSION."

          VERSION_SHORT=$(echo "$VERSION" | sed -e "s/+.*//")
          echo "VERSION_SHORT: $VERSION_SHORT."

          BUILD_NUMBER=$(echo "$VERSION" | sed -e "s/.*+//")
          echo "BUILD_NUMBER: $BUILD_NUMBER."
          
          if [ "$ENV" == "staging" ]; then
            SUFFIX=".pre"
          elif [[ "$ENV" == "production" && "$IS_LATEST" == "false" ]]; then
            SUFFIX=".rc"
          else
            SUFFIX=""
          fi
          echo "SUFFIX: $SUFFIX"

          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "version_short=$VERSION_SHORT" >> $GITHUB_OUTPUT
          echo "build_number=$BUILD_NUMBER" >> $GITHUB_OUTPUT
          echo "release=$VERSION_SHORT$SUFFIX" >> $GITHUB_OUTPUT
          echo "tag_name=v$VERSION_SHORT$SUFFIX" >> $GITHUB_OUTPUT
        env:
          ENV: ${{ github.event.inputs.env }}
          IS_LATEST: ${{ github.event.inputs.latest }}

      - name: Create a release
        run: |
          RELEASE_NOTES="Release created by Runner"
          gh release create "$TAG_NAME" --draft --latest=false --prerelease=false --target "$SHA" --title "$TAG_NAME" --notes "$RELEASE_NOTES"
        env:
          SHA: ${{ steps.sha_step.outputs.sha }}
          TAG_NAME: ${{ steps.version_step.outputs.tag_name }}
          GH_TOKEN: ${{ github.token }}

  publish:
    name: Publish
    runs-on: ubuntu-22.04
    needs:
      - create-release
      - apk
      - aab
    steps:
      - uses: actions/checkout@v6

      - name: Publish a release
        run: |
          if [[ "$ENV" == "production" && "$IS_LATEST" == "true" ]]; then
            gh release edit "$TAG_NAME" --latest --draft=false --tag "$TAG_NAME" --target "$SHA"
          else
            gh release edit "$TAG_NAME" --prerelease --draft=false --tag "$TAG_NAME" --target "$SHA"
          fi
        env:
          ENV: ${{ github.event.inputs.env }}
          IS_LATEST: ${{ github.event.inputs.latest }}
          SHA: ${{ needs.create-release.outputs.sha }}
          TAG_NAME: ${{ needs.create-release.outputs.tag_name }}
          GH_TOKEN: ${{ github.token }}

  apk:
    name: Create apk
    runs-on: ubuntu-22.04
    needs:
      - create-release
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: "17.x"
          distribution: 'temurin'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        id: flutter-action
        with:
          channel: ${{ env.flutter-channel }}
          flutter-version: ${{ env.flutter-version }}

      - name: Flutter doctor -v
        run: flutter doctor -v

      - name: Configure .env
        run: |
          ENV_BASE64="$([[ "$ENV" == "staging" ]] && echo "$ENV_STG_BASE64" || echo "$ENV_PROD_BASE64")"
          echo "$ENV_BASE64" | base64 --decode > .env
        env:
          ENV: ${{ github.event.inputs.env }}
          ENV_STG_BASE64: ${{ secrets.ENV_STG_BASE64 }}
          ENV_PROD_BASE64: ${{ secrets.ENV_PROD_BASE64 }}

      - name: Install Deps
        run: flutter pub get

      - name: Configure Keystore for Android
        run: |
          echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > app/upload-keystore.jks
          echo "storeFile=upload-keystore.jks" >> key.properties
          echo "keyAlias=$ANDROID_KEY_ALIAS" >> key.properties
          echo "storePassword=$ANDROID_STORE_PASSWORD" >> key.properties
          echo "keyPassword=$ANDROID_KEY_PASSWORD" >> key.properties
        env:
          ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
          ANDROID_STORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
        working-directory: android

      # Build the application.
      - name: Build apk
        run: |
          FLAVOR="$([[ "$ENV" == "staging" ]] && echo "staging" || echo "production")"
          flutter build apk --dart-define-from-file=.env --no-tree-shake-icons --flavor $FLAVOR
        env:
          ENV: ${{ github.event.inputs.env }}

      # Package the build.
      - name: Copy build for Android
        run: |
          ls -la
          if [[ "$ENV" == "staging" ]]; then
            cp app-staging-release.apk $GITHUB_WORKSPACE/CajuScan-$RELEASE.apk
          else
            cp app-production-release.apk $GITHUB_WORKSPACE/CajuScan-$RELEASE.apk
          fi
        working-directory: build/app/outputs/flutter-apk
        env:
          ENV: ${{ github.event.inputs.env }}
          RELEASE: ${{ needs.create-release.outputs.release }}

      - name: Upload assets
        run: gh release upload "$TAG_NAME" ./*.apk
        env:
          TAG_NAME: ${{ needs.create-release.outputs.tag_name }}
          GH_TOKEN: ${{ github.token }}

      - name: Clean up
        if: ${{ always() }}
        run: |
          rm -f android/app/upload-keystore.jks
          rm -f android/key.properties
          rm -f .env

  aab:
    name: Create appbundle
    runs-on: ubuntu-22.04
    needs:
      - create-release
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: "17.x"
          distribution: 'temurin'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        id: flutter-action
        with:
          channel: ${{ env.flutter-channel }}
          flutter-version: ${{ env.flutter-version }}

      - name: Flutter doctor -v
        run: flutter doctor -v

      - name: Configure .env
        run: |
          ENV_BASE64="$([[ "$ENV" == "staging" ]] && echo "$ENV_STG_BASE64" || echo "$ENV_PROD_BASE64")"
          echo "$ENV_BASE64" | base64 --decode > .env
        env:
          ENV: ${{ github.event.inputs.env }}
          ENV_STG_BASE64: ${{ secrets.ENV_STG_BASE64 }}
          ENV_PROD_BASE64: ${{ secrets.ENV_PROD_BASE64 }}

      - name: Install Deps
        run: flutter pub get

      - name: Configure Keystore for Android
        run: |
          echo "$ANDROID_KEYSTORE_BASE64" | base64 --decode > app/upload-keystore.jks
          echo "storeFile=upload-keystore.jks" >> key.properties
          echo "keyAlias=$ANDROID_KEY_ALIAS" >> key.properties
          echo "storePassword=$ANDROID_STORE_PASSWORD" >> key.properties
          echo "keyPassword=$ANDROID_KEY_PASSWORD" >> key.properties
        env:
          ANDROID_KEYSTORE_BASE64: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_KEY_ALIAS }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}
          ANDROID_STORE_PASSWORD: ${{ secrets.ANDROID_STORE_PASSWORD }}
        working-directory: android

      # Build the application.
      - name: Build appbundle
        run: |
          FLAVOR="$([[ "$ENV" == "staging" ]] && echo "staging" || echo "production")"
          flutter build appbundle --dart-define-from-file=.env --no-tree-shake-icons --flavor $FLAVOR
        env:
          ENV: ${{ github.event.inputs.env }}

      # Package the build.
      - name: Copy build for Android
        if: github.event.inputs.env == 'staging'
        run: |
          ls -la
          cp *.aab $GITHUB_WORKSPACE/CajuScan-$RELEASE.aab
        working-directory: build/app/outputs/bundle/stagingRelease
        env:
          RELEASE: ${{ needs.create-release.outputs.release }}

      - name: Copy build for Android
        if: github.event.inputs.env == 'production'
        run: |
          ls -la
          cp *.aab $GITHUB_WORKSPACE/CajuScan-$RELEASE.aab
        working-directory: build/app/outputs/bundle/productionRelease
        env:
          RELEASE: ${{ needs.create-release.outputs.release }}

      - name: Upload assets
        run: gh release upload "$TAG_NAME" ./*.aab
        env:
          TAG_NAME: ${{ needs.create-release.outputs.tag_name }}
          GH_TOKEN: ${{ github.token }}

      - name: Clean up
        if: ${{ always() }}
        run: |
          rm -f android/app/upload-keystore.jks
          rm -f android/key.properties
          rm -f .env
